.drinksConteiner{
    display: grid;
    width: 100%;
    /* justify-self: center; */
    grid-template-areas:
    "title title title title"
    "navi navi navi navi"
    "content content content content";
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 80px /*40px*/ auto auto;
    grid-gap: 20px;
    gap: 20px;
}
.drinksTitulo{
    grid-area:title;
    justify-content: center;
    
}
.title{
    font-weight: 700;
    font-size: 30px;
    color: #5c0511;
    text-align: center;
    margin-top: 20px;
}
.drinkContent{
    grid-area:content;
    
}
.drinkItens{
    grid-area: content;
    width: 300px;
    height: 300px;
}
